@font-face {
  font-family: flexo;
  src: url('../font/Flexo/Flexo-Light.otf');
  font-weight: normal;
}

body{ font-family: flexo, sans-serif;}

h1{
  background-color: #e84848;
  color: white;
  padding: 10px;
}

input[type="text"]:focus{
  padding-left: 35px;
}

input::-webkit-input-placeholder {
  padding-left: 35px;
}

input:focus::-webkit-input-placeholder {
  padding-left: 5px;
}

.content-song{
  box-sizing: border-box;
  background-color: rgb(239,239,239);
}

.content-song :hover {background: gray; color: white;}

#songList{
 height: 100vh;
 overflow-y: scroll;
}

#first-square {
 background-color: aqua;
 height: 150px;
 width: 150px;
 padding: 10px;
 float: left;
}

#title {
 background-color: rebeccapurple;
 color: white;
 padding: 20px;
}

.suggest {
 background-color: dimgrey;
 height: 100vh;
}

.img-song{
  float: left;
  display: flex;
}

.img-icon {
 padding: 30px;
}

.capitalize{
  text-transform: capitalize;
}

.load{
  position: relative;
}

img{
  height: 100%;
}

a{
  color: rgb(100, 100,100);
}

.no-marg-bot{
  margin-bottom: 0;
}

.no-marg-top{
  margin-top: 0;
}

.div-characteristic{
  background-color: rgb(64, 164, 211);
  color: white;
}

/** style for modal.js **/
.overlay {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.5);
   z-index: 2;
   cursor: pointer;
 }

.modal-content{
  padding: 20px;
  background-color: white;
  width: 80%;
  margin: auto;
}

.close{
  position: absolute;
  right: 10%;
}

.color-type{
  background-color: salmon;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

.color-weak{
  background-color: #f9a825;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}